<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <!-- Trick to preload image -->
    <img ng-src="/app/assets/img/Opportunities@HSBC_accelerateyourcareer.png" class="hide"/>
	<% include ../inc/header %>

    <base href="/">
</head>
<body ng-controller="appController">
    
    <div class="loading-awesome overlay animate-slide-in-out" ng-show="isLoadingVisible"></div>
    <div class="loading-awesome message animate-slide-in-out" ng-show="isLoadingVisible">
        
        <img ng-src="/app/assets/img/Opportunities@HSBC_accelerateyourcareer.png"/>
        
        <h2>Loading awesomeness...</h2>
    </div>
    
    
    <!--[if lte IE 10]>
    <div class="ie-loading-awesome message">
        <img src="/app/assets/img/Opportunities@HSBC_accelerateyourcareer.png" style="width:550px;"/>
        
        <h4>Not cool... Please upgrade your browser to any of the following:</h4>
        <ul>
            <li>Google Chrome (<b>Recommended</b>)</li>
            <li>Mozilla Firefox</li>
            <li>Internet Explorer 11 +</li>
        </ul>
    </div>
    <![endif]-->
    
    <div class="loading-awesome overlay animate-slide-in-out ng-hide" ng-show="isContingentWorker"></div>
    <div class="ie-loading-awesome message ng-hide" ng-show="isContingentWorker">
        <img src="/app/assets/img/Opportunities@HSBC_accelerateyourcareer.png" style="width:550px;"/>
        
        <div class="row">
            <i class="glyphicon glyphicon-remove" style="color: red; font-size:30px;"></i><h4>Aw, too bad! We really hoped you could experience what awesome is. <p class="mt20">But not now though.</p></h4>
        </div>
    </div>
	
    <% include ../inc/login %>
    
    <div ng-if="isNavigationVisibile" class="animate-fadein-down left w100" ng-include="'/app/common/page/navigation.html'"></div>
	<div ng-view autoscroll="true" id="mainView" ng-show="!isLoadingVisible" class="animate-fadein-out left col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding {{ isNavigationVisibile && isContainerVisible && !isUserViewPage ? 'container container-main' : ''}}"></div>

    <div ng-show="!isLoadingVisible" ng-include="'/app/common/page/footer.html'"></div>

   <% include ../inc/vendors %>
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>
    <!--------------PLEASE MAINTAIN THE IMPORT STATEMENTS ALPHABETICAL FOR EASIER CODE READABILITY :D------------->
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>

    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>
    <!-------------------------------------MAIN APP SCRIPTS------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>
    <script type="text/javascript" src="/app/app.js"></script>
        <!-- Controller -->
    <script type="text/javascript" src="/app/appController.js"></script>
    <script type="text/javascript" src="/app/common/controller/HeaderController.js"></script>
    
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>
    <!-------------------------------------HOME MODULE SCRIPTS---------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>
    <script type="text/javascript" src="/app/home/home.js"></script>
        <!-- Controllers -->
    <script type="text/javascript" src="/app/home/controller/HomeController.js"></script>
        <!-- Routers -->
	<script type="text/javascript" src="/app/home/router/HomeRouter.js"></script>
        <!-- Service -->
    <script type="text/javascript" src="/app/home/service/SecurityService.js"></script>
    
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>
    <!--------------------------------------PROJECT MODULE SCRIPTS------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>
    <script type="text/javascript" src="/app/project/project.js"></script>
        <!-- Controllers -->
    <script type="text/javascript" src="/app/project/controller/ProjectController.js"></script>
    <script type="text/javascript" src="/app/project/controller/ProjectDetailController.js"></script>
    <script type="text/javascript" src="/app/project/controller/ProjectListController.js"></script>
        <!-- Routers -->
    <script type="text/javascript" src="/app/project/router/ProjectRouter.js"></script>
        <!-- Service -->
    <script type="text/javascript" src="/app/project/service/ProjectService.js"></script>
    <script type="text/javascript" src="/app/project/service/QuestionService.js"></script>

    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>
    <!--------------------------------------USER MODULE SCRIPTS--------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>
    <script type="text/javascript" src="/app/user/user.js"></script>
        <!-- Controllers -->
    <script type="text/javascript" src="/app/user/controller/UserController.js"></script>
    <script type="text/javascript" src="/app/user/controller/UserListController.js"></script>
        <!-- Routers -->
    <script type="text/javascript" src="/app/user/router/UserRouter.js"></script>
        <!-- Service -->
    <script type="text/javascript" src="/app/user/service/UserService.js"></script>
        <!-- Directive -->
    <script type="text/javascript" src="/app/user/widget/UserBadge.js"></script>
    
    
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>
    <!---------------------------------------PROFILE MODULE SCRIPTS----------------------------------------------->
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>
    <script type="text/javascript" src="/app/profile/profile.js"></script>
        <!-- Controllers -->
    <script type="text/javascript" src="/app/profile/controller/ProfileController.js"></script>
    <script type="text/javascript" src="/app/profile/controller/ProfileEditController.js"></script>
        <!-- Routers -->
    <script type="text/javascript" src="/app/profile/router/ProfileRouter.js"></script>
        <!-- Service -->
    <script type="text/javascript" src="/app/profile/service/ProfileService.js"></script>
    <script type="text/javascript" src="/app/profile/service/SkillsBubbleService.js"></script>
        <!-- Directives -->
    <script type="text/javascript" src="/app/project/widget/ProjectBadge.js"></script>
    <script type="text/javascript" src="/app/project/widget/ProjectListWidget.js"></script>
    
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>
    <!---------------------------------------LOAD USER SCRIPTS---------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>	
    <script type="text/javascript" src="/app/loaduser/loaduser.js"></script>
    <script type="text/javascript" src="/app/loaduser/controller/LoadUserController.js"></script>		
    <script type="text/javascript" src="/app/loaduser/router/LoadUserRouter.js"></script>
    
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>
    <!---------------------------------------HELP SECTION SCRIPTS------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>	
    <script type="text/javascript" src="/app/help/help.js"></script>
        <!-- Controllers -->
    <script type="text/javascript" src="/app/help/controller/HelpController.js"></script>
        <!-- Routers -->
    <script type="text/javascript" src="/app/help/router/HelpRouter.js"></script>
        <!-- Service -->
    <script type="text/javascript" src="/app/help/service/ContactUsService.js"></script>
    <script type="text/javascript" src="/app/help/service/FeedbackService.js"></script>
        <!-- Directives -->
    <script type="text/javascript" src="/app/help/widget/HelpBreadcrumb.js"></script>
    <script type="text/javascript" src="/app/help/widget/HelpSidebar.js"></script>
    
    
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>
    <!---------------------------------------POKE SCRIPTS--------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------>	
    <script type="text/javascript" src="/app/alert/alert.js"></script>
        <!-- Services -->
    <script type="text/javascript" src="/app/alert/service/AlertService.js"></script>
    
    
    <!-- COMMON SCRIPTS -->
    <script type="text/javascript" src="/app/common/widget/StickyLink.js"></script>
    
    
    <!-- Search scripts -->
    <script type="text/javascript" src="/app/project/controller/SearchController.js"></script>
</body>
</html>