<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<% include ../inc/header %>
	<script type="text/javascript" src="/vendors/other/moment.min.js"></script>
	<script type="text/javascript" src="/app/assets/js/pikaday.js"></script>
</head>
<body>

	<% include ../inc/login %>
	
	<% include ../inc/navigation %>

	<div class="container container-main">
		<ng-view></ng-view>
	</div><!-- /.container -->

	<% include ../inc/footer %>

	 <!-- Libraries -->
	<% include ../inc/vendors %>


    <!-- App scripts -->
    <script src="/app/app.js"></script>
    
    <!-- Home scripts -->
    <script src="/app/home/home.js"></script>
    <script src="/app/home/homeFactory.js"></script>
    
    <!-- Project scripts -->
    <script src="/app/project/project.js"></script>
    <script src="/app/project/service/ProjectService.js"></script>
    
    <!-- User scripts -->
    <script src="/app/user/service/UserService.js"></script>
    
    <!-- Load user scripts -->
    <script src="/app/loaduser/loadUserController.js"></script>
    <script src="/app/loaduser/loadUserRouter.js"></script>
</body>
</html>