<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<% include ../inc/header %>
</head>
<body>

	<% include ../inc/login %>

	<% include ../inc/navigation %>


	<ng-view></ng-view>

	<% include ../inc/footer %>


	<% include ../inc/vendors %>


    <script src="/app/app.js"></script>
    <script src="/app/home/home.js"></script>
    <script src="/app/home/homeFactory.js"></script>
    <script src="/app/project/project.js"></script>
    <script src="/app/project/service/ProjectService.js"></script>
    <script src="/app/project/controller/ProjectController.js"></script>
    <script src="/app/user/profileController.js"></script>
    <script src="/app/user/profileEditController.js"></script>
    <script src="/app/user/profileRouter.js"></script>
</body>
</html>