<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<% include ../inc/header %>
</head>
<body>

	<% include ../inc/login %>

	<% include ../inc/navigation %>

	<ng-view></ng-view>

	<% include ../inc/footer %>


	<% include ../inc/vendors %>

	<!-- D3 bubble chart -->
	<script src="/app/assets/js/d3.min.js"></script>
	
    <!-- App scripts -->
    <script src="/app/app.js"></script>
    <script type="text/javascript" src="/app/common/controller/HeaderController.js"></script>
    
    <!-- Home scripts -->
    <script src="/app/home/home.js"></script>
    <script src="/app/home/homeFactory.js"></script>
    
    <!-- Project scripts -->
    <script src="/app/project/project.js"></script>
    <script src="/app/project/service/ProjectService.js"></script>
    <script src="/app/project/controller/ProjectController.js"></script>
    
    <!-- User scripts -->
    <script src="/app/user/user.js"></script>
    <script src="/app/user/controller/ProfileController.js"></script>
    <script src="/app/user/controller/ProfileEditController.js"></script>
    <script src="/app/user/profileRouter.js"></script>
    <script src="/app/user/service/UserService.js"></script>
    
    <script src="/app/project/widget/ProjectBadge.js"></script>
    <script src="/app/project/widget/ProjectListWidget.js"></script>
</body>
</html>