<div class="thumbnail project-thumbnail">
    <img class="img-circle" width="140px" ng-src="/app/assets/img/categories/300x300/{{project.category}}.png">
    <h3>{{project.title}}</h3>
    <div class="featured-project">
        <i class="glyphicon {{(project. featured) ? 'glyphicon-ok-circle text-success' : 'ng-hide' }} "></i> 

        <i class="glyphicon {{(project.visibility == 'global') ? 'glyphicon-globe text-success' : 'ng-hide' }} "></i>
    </div>
    <p class="project-desc" title="{{project.description}}">{{project.description | characters : 100}}</p>
    
    <p ng-show="isAdmin" class="text-success">{{project.country}}</p>
    <p ng-show="isAdmin" class="text-danger">{{project.visibility | uppercase}}</p>
    
    <p>By <a href="/user/{{project.user.user_id}}"> {{project.user.name}} </a></p>
    <p><a class="btn btn-default" href="/project/{{project._id}}">View details »</a></p>
</div>