<footer class="footer left w100">
    
    <div class="row">
        <div class="col-md-2">
            <p class="text-left">&copy; Copyright HSBC Group 2015</p>
        </div>
        <div class="col-md-10">
            <img src="/app/assets/img/powered_by_innovate@HSBC.png" class="pull-right powered-by"/>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 text-left no-margin-top">
            <a href="http://home.global.hsbc/gc/home.nsf/gcms?open&ref=UKCM8TQ2BW091144PM04252012" target="_blank">HSBC Privacy Statement</a>
        </div>
    </div>
    
    <div class="row disclaimer">
        <div class="col-md-12">
            <p class="text-left">DISCLAIMER: Information from this staff website should not be disseminated externally without the document owner's consent and should be treated as internal. Restricted or Highly Restricted information, including price or commercially sensitive information, should not be displayed on staff websites. All information must comply and be handled in accordance with published information Security Risk policies.</p>
        </div>
        
        <div class="col-md-12">
            <p class="text-left">Produced by HSBC Global Publishing Services</p>
        </div>
    </div>
    
	</footer><!-- /.footer -->
