<title>opportunities@HSBC</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>

<link rel="stylesheet" href="/app/assets/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/app/assets/css/style.css"/>
<link rel="stylesheet" href="/app/assets/css/selectize.default.css"/>

<!-- Third Party Styles -->
<link rel="stylesheet" href="/vendors/animate.css/animate.min.css"/>
<link rel="stylesheet" href="/vendors/sweetalert/dist/sweetalert.css"/>
<link rel="stylesheet" href="/vendors/angular-ui-select/dist/select.css"/>


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="/app/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/app/assets/js/bootstrap.min.js"></script>

<script type="text/javascript" src="http://ssupdate.global.hsbc/myhsbc/uservariables.ashx"></script>

<script>
String.prototype.toProperCase = function () {
    return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
};
</script>