<meta charset="utf-8">
	<title>Project Orbit</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/app/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/app/assets/css/style.css" rel="stylesheet">
	<link href="/vendors/sweetalert/dist/sweetalert.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<script type="text/javascript" src="/app/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/app/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/app/assets/js/app.js"></script>