<div class="container bold-container" style="margin-top : 80px">
    <div class="row">
       
            
            <div class="col-md-3 col-lg-3 title">
                <div class="pull-left" >
                    <img width="120px" class="media-object img-circle" src="{{user.picture}}" alt="Image">
                </div>
                
            </div>
            <div class="col-md-3 col-lg-3 text-left">
                <h3 class="media-heading">{{ user.name}}</h3>
                    <ul class="list-unstyled">
                        <li>{{user.dept}}</li>
                        <li>{{user.job_role}}</li>
                        <li>{{user.country}}</li>
                        <li>{{user.email}}</li>
                    </ul>
            </div>

            <div class="col-md-3 col-lg-3">
                <div ng-show="isAdmin" class="edit">
                <h2>
                
                <i ng-click="feature()" class="glyphicon {{(user.featured) ? 'glyphicon-ok-circle text-success' : 'glyphicon-remove-circle' }}"></i> Featured
                </h2>
            </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3">
                
            </div>

            
         
    </div>
</div>

<div class="container not-bold-container-user ml50 w90">
    <div class="row">
         <div class="text-left">
                <div class="profile-list">
                	<strong>Skills:</strong>
                    <div class="col-sm-12" >
                    	<div id="bubbleChart"></div>
                    </div>
                </div>  
                <div class="profile-list">
                    <strong>Interests:</strong>
                    <ul class="list-inline">
                        <li ng-repeat="interest in user.interests"><span class="label label-success">{{interest}}</span></li>
                    </ul>
                </div>
                <div class="profile-list">
                    <strong>I am actively looking for a project:</strong>
                    <ul class="list-inline">
                        <li>
                            {{(user.status) ? "YES" : "NO" }}&nbsp;
                        </li>
                    </ul>
                </div>
                <br />
            </div>
    </div>
</div>


<!-- The current projects I am involved with -->
<div class="container bold-container" ng-if="projects.length > 0">
    <project-list projects="projects" class="container">My Currenct Projects</project-list>
</div>

<!-- Projects I have contributed -->
<div class="container not-bold-container-user" ng-if="completedProjects.length > 0">
    <project-list projects="completedProjects" class="container">My Completed Projects</project-list>
</div>

