
<div class="container header">
    
    <nav class="header-links">
        <ul class="nav nav-pills header-nav-links">
            <li role="presentation" class="active"><a href="/project/new#{{returnUrl}}">New Project</a></li>
            <li role="presentation" class="login-btn" ng-show="auth.isAuthenticated"><a href="/profile/"> My Profile</a></li>
            <li role="presentation" ng-show="false" class="login-btn" ng-click="logout()"><a href="">Logout</a></li>
            <li role="presentation" class="login-btn" ng-show="!auth.isAuthenticated" ng-click="login()"><a href="">Login</a></li>
            <li role="presentation"><a style="padding:5px;" class="pointer {{notifications.length > 0 ? 'animated infinite swing' : ''}}" ng-click="toggleNotifications()" title="Alerts"><i class="glyphicon glyphicon-bell" style="color:{{notifications.length > 0 ? 'red' : '#fff'}};"></i></a></li>
            <li role="presentation"><a href="/help"><i class="glyphicon glyphicon-question-sign"></i></a></li>
        </ul>
    </nav>
    <div class="animate-slideInDown-Up notifications" ng-show="isNotificationVisible">
        <div class="notification-header">Alerts<a class="pull-right pointer mr5" ng-click="toggleNotifications()"><i class="glyphicon glyphicon-remove"></i></a></div>
        <div class="notifications-container">
            <div ng-repeat="alert in notifications track by $index" class="notification animate-alert" ng-mouseover="isCloseable=true" ng-mouseleave="isCloseable=false">
                <div class="row">
                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 no-padding pl15" ng-click="viewAlert(alert)">
                        <div class="left" style="width:30px;">
                            <a class="pointer"><img ng-src="{{alert.by_user.picture}}" width="30px" class="media-object img-circle" title="{{alert.by_user.name}}"/></a>
                        </div>
                        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10 message">
                            <span ng-if="alert.alert_type === 'poke'"><b>{{alert.by_user.name}}</b> poked you{{alert.poke_ctr > 1 ? " " + alert.poke_ctr + " times" : ""}}, reminding to check your invitations.</span>
                            <span ng-if="alert.alert_type === 'invite'"><b>{{alert.by_user.name}}</b> invited you to collborate with his opportunity <b>{{alert.project_name}}</b>."</span>
                            <span ng-if="alert.alert_type === 'comment'"><b>{{alert.by_user.name}}</b> left a comment in <b>{{alert.project_name}}'s</b> discussion board."</span>
                            <span ng-if="alert.alert_type === 'rate'"><b>{{alert.by_user.name}}</b> rated you <b>{{alert.message}} {{alert.message === '1' ? 'star' : 'stars'}}</b> in the opportunity <b>{{alert.project_name}}</b>. He also said thanks by the way!</span>
                            <span ng-if="alert.alert_type === 'rate-project-owner'"><b>{{alert.by_user.name}}</b> rated you <b>{{alert.message}} {{alert.message === '1' ? 'star' : 'stars'}}</b> for being so cool in the opportunity <b>{{alert.project_name}}</b>.</span>
                            <span ng-if="alert.alert_type === 'accept'"><b>{{alert.by_user.name}}</b> is cool on helping in your opportunity <b>{{alert.project_name}}.</b></span>
                            <span ng-if="alert.alert_type === 'apply'"><b>{{alert.by_user.name}}</b> wants to help in your opportunity <b>{{alert.project_name}}.</b> View his profile profile now.</span>
                            <span ng-if="alert.alert_type === 'accept-application'"><b>{{alert.by_user.name}}</b> was impressed with profile and accepted your application to join their opportunity <b>{{alert.project_name}}.</b></span>
                        </div>
                    </div>
                    
                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 text-center" ng-show="isCloseable">
                        <span class="close" ng-click="deleteAlert(alert)">&times;</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="notification" ng-show="notifications.length == 0">
            <div class="row">
                <div class="col-md-12"><span>No alerts.</span></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center v-center">
            <img ng-src="/app/assets/img/Opportunities@HSBC_accelerateyourcareer.png"/>
            <form class="col-lg-12 mt50" ng-submit="search()" style="height: 200px">
                <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
                    <input ng-model="query" ng-keyup="$event.keyCode == 13 ? search() : null" type="text" class="center-block form-control input-lg" title="Find your niche" placeholder="Find your niche">
                    <span class="input-group-btn"><button id="searchButton" class="btn btn-lg btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button></span>
                </div>
            </form>
        </div>
    </div>
    <video autoplay loop poster="{{posterUrl}}" id="bgvid">
        <!--<source ng-src="polina.webm" type="video/webm">-->
        <source ng-src="{{videoUrl}}" type="video/mp4">
    </video>
</div>
<!-- /container full -->
<div class="container container-main" ng-if="featuredUsers.length > 0" style="margin-top: 50px;">

    <div class="featurette-header">
        <h1 class="featurette-heading">Featured People</h1>
        <br/>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 text-center" ng-repeat="user in featuredUsers">
            <img class="img-circle" width="120px" ng-src="{{user.picture}}"/>
            <h2>{{user.name}}</h2>
            <p>{{user.nickname}}</p>
            <p><a class="btn btn-default" href="/user/{{user.user_id}}">View info »</a></p>
        </div>
    </div>
    <!-- /.row -->
    <!-- <hr class="featurette-divider"> -->
    

</div>


<div class="container bold-container">
    <!-- How It Works -->
    <div class="featurette-header">
        <h1 class="featurette-heading">How It Works</h1>
        <br/>
    </div>
        <!-- FOR THE PROJECT OWNER -->
    <div ng-if="projectOwnerSelected" class="row pane pane-dark hiw-steps animate-fadein-out">
        <span class="close" ng-click="selectProjectOwner()">&times;</span>
        <div class="col-md-4 col-sm-4 text-center">
            <img class="img-rounded" width="300px" ng-src="/app/assets/img/home/owner-step1-announce.png">
            <h2>Step 1. Announce</h2>
            <p>Need more ideas and extra help for a project? Post an opportunity and spread the word to seekers.</p>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
            <img class="img-rounded" width="300px" ng-src="/app/assets/img/home/owner-step2-review.png">
            <h2>Step 2. Review</h2>
            <p>Review the profiles of the applicants and potential seekers who may have the expertise you are looking for.</p>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
            <img class="img-rounded" width="300px" ng-src="/app/assets/img/home/owner-step3-select.png">
            <h2>Step 3. Select</h2>
            <p>Onboard a seeker to the project!</p>
        </div>
    </div>
    <!-- /.row -->
    <!-- FOR THE PROJECT SEEKER -->
    <div ng-if="projectSeekerSelected" class="row pane pane-dark hiw-steps animate-fadein-out">
        <span class="close" ng-click="selectProjectSeeker()">&times;</span>
        <div class="col-md-4 col-sm-4 text-center">
            <img class="img-rounded" width="300px" ng-src="/app/assets/img/home/seeker-step1-seek.png">
            <h2>Step 1. Seek</h2>
            <p>Looking to learn something new and grow your skills? Seek for an opportunity.</p>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
            <img class="img-rounded" width="300px" ng-src="/app/assets/img/home/seeker-step2-apply.png">
            <h2>Step 2. Apply</h2>
            <p>Found an opportunity you are interested in? Apply for it.</p>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
            <img class="img-rounded" width="300px" ng-src="/app/assets/img/home/seeker-step3-collaborate.png">
            <h2>Step 3. Collaborate</h2>
            <p>Once onboarded to a project, explore and collaborate.</p>
        </div>
    </div>
    <!-- /.row -->
    
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel-circle role" ng-click="selectProjectOwner()">
                <!-- <p>This is for a project owner</p> -->
                <div class="owner">
                    <p>an opportunity</p>
                    <p class="role-title">owner</p>
                </div>
            </div>
            <div class="panel-circle main">
                <div>
                    <p>I am...</p>
                </div>
            </div>
            <div class="panel-circle role" ng-click="selectProjectSeeker()">
                <!-- <p>This is for a project seeker</p> -->
                <div class="seeker">
                    <p>an opportunity</p>
                    <p class="role-title">seeker</p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
        
    <!-- /.row -->
    <br/>
    <br/>


</div>


<div class="container not-bold-container">
    <!-- Category Section -->
    <!-- <hr class="featurette-divider"> -->
    <div class="featurette-header">
        <h1 class="featurette-heading">Categories</h1>
        <br/>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 text-center category" ng-click="go('/project/list/CrossUnitProjects')">
            <img class="img-rounded" width="140px" ng-src="/app/assets/img/categories/300x300/CrossUnitProjects.png">
            <h2>Cross Unit Projects</h2>
            <div class="category-overlay text-left">
                <div class="media">
                    <a class="pull-left" href="/project/list/CrossUnitProjects">
                        <img class="media-object" width="50px" ng-src="/app/assets/img/categories/60x60/CrossUnitProjects-60.png" alt="Image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><a class="cat-overlay-title" href="/project/list/CrossUnitProjects">Cross Unit Projects</a></h4>
                        <p>Opportunities to work on new or in flight projects across all channels and business lines. This will be over and above their current assignments when an employee is not being fully utilized.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center category" ng-click="go('/project/list/JobRotations')">
            <img class="img-rounded" width="140px" ng-src="/app/assets/img/categories/300x300/JobRotations.png">
            <h2>Job Rotations</h2>
            <div class="category-overlay text-left">
                <div class="media">
                    <a class="pull-left" href="/project/list/JobRotations">
                        <img class="media-object" width="50px" ng-src="/app/assets/img/categories/60x60/JobRotations-60.png" alt="Image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><a class="cat-overlay-title" href="/project/list/JobRotations">Job Rotations</a></h4>
                        <p>Temporary job swapping / movement to gain in depth knowledge of the business and become multi-skilled, allowing an employee to perform many different job / tasks.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center category" ng-click="go('/project/list/StretchAssignments')">
            <img class="img-rounded" width="140px" ng-src="/app/assets/img/categories/300x300/StretchAssignments.png">
            <h2>Stretch Assignments</h2>
            <div class="category-overlay text-left">
                <div class="media">
                    <a class="pull-left" href="/project/list/StretchAssignments">
                        <img class="media-object" width="50px" ng-src="/app/assets/img/categories/60x60/StretchAssignments-60.png" alt="Image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><a class="cat-overlay-title" href="/project/list/StretchAssignments">Stretch Assignments</a></h4>
                        <p>Additional tasks in / beyond an employee's current job that can help them grow their skills and develop other competencies.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center category" ng-click="go('/project/list/JobShadowing')">
            <img class="img-rounded" width="140px" ng-src="/app/assets/img/categories/300x300/JobShadowing.png">
            <h2>Job Shadowing</h2>
            <div class="category-overlay text-left">
                <div class="media">
                    <a class="pull-left" href="/project/list/JobShadowing">
                        <img class="media-object" width="50px" ng-src="/app/assets/img/categories/60x60/JobShadowing-60.png" alt="Image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><a class="cat-overlay-title" href="/project/list/JobShadowing">Job Shadowing</a></h4>
                        <p>Observing a colleague at work, in a particular job role, for a specified time frame, to obtain understanding of the job and the skills required.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    </br>
    </br>
    <div class="row">
        <div class="col-md-3 col-sm-6 text-center category" ng-click="go('/project/list/BusinessInteractions')">
            <img class="img-rounded" width="140px" ng-src="/app/assets/img/categories/300x300/BusinessInteractions.png">
            <h2>Business Interactions</h2>
            <div class="category-overlay text-left">
                <div class="media">
                    <a class="pull-left" href="/project/list/BusinessInteractions">
                        <img class="media-object" width="50px" ng-src="/app/assets/img/categories/60x60/BusinessInteractions-60.png" alt="Image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><a class="cat-overlay-title" href="/project/list/BusinessInteractions">Business Interactions</a></h4>
                        <p>Business assignments to understand and the "day in life of" (eg. shadow a teller or RM).</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center category" ng-click="go('/project/list/AdventureAssignments')">
            <img class="img-rounded" width="140px" ng-src="/app/assets/img/categories/300x300/AdventureAssignments.png">
            <h2>Adventure Assignments</h2>
            <div class="category-overlay text-left">
                <div class="media">
                    <a class="pull-left" href="/project/list/AdventureAssignments">
                        <img class="media-object" width="50px" ng-src="/app/assets/img/categories/60x60/AdventureAssignments-60.png" alt="Image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><a class="cat-overlay-title" href="/project/list/AdventureAssignments">Adventure Assignments</a></h4>
                        <p>A short term assignment in another region to understand cultural differences and build their network (4 - 6 weeks).</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center category" onclick="window.open('http://www.mentorscout.com/')">
            <img class="img-rounded" width="140px" ng-src="/app/assets/img/categories/300x300/FindaMentorMentee.png">
            <h2>Find a Mentor / Mentee</h2>
            <div class="category-overlay text-left">
                <div class="media">
                    <a class="pull-left">
                        <img class="media-object" width="50px" ng-src="/app/assets/img/categories/60x60/FindaMentorMentee-60.png" alt="Image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><a class="cat-overlay-title">Find a Mentor / Mentee</a></h4>
                        <p>Mentor Scout helps companies take their mentoring programs to new heights! Start your mentoring experience today by creating a profile using HBCA56mentoring as the Organization ID.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center category" ng-click="go('/project/list/OtherOpportunities')">
            <img class="img-rounded" width="140px" ng-src="/app/assets/img/categories/300x300/OtherOpportunities.png">
            <h2>Other Opportunities</h2>
            <div class="category-overlay text-left">
                <div class="media">
                    <a class="pull-left" href="/project/list/OtherOpportunities">
                        <img class="media-object" width="50px" ng-src="/app/assets/img/categories/60x60/OtherOpportunities-60.png" alt="Image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><a class="cat-overlay-title" href="/project/list/OtherOpportunities">Other Opportunities</a></h4>
                        <p>Participation in internal / external conferences, forums, lunch and learns, recruiting activities, academic research projects and various other opportunities to expand their knowledge and network subject matter experts.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- END OF CATEGORY SECTION -->
</div>

<!-- Featured projects -->
<div class="container bold-container" ng-if="featuredProjects.length > 0">
    <project-list projects="featuredProjects" class="container"><h1 class="featurette-heading mb50">Featured Projects</h1></project-list>
</div>
