html,
body {
    height: 100%;
}

a {
    cursor: pointer;
}

.container.header h1 {
    font-size: 80px;
    color: #FFF;
}

.container.header .lead {
    color: #FFF;
}
/* Custom container */

.container-full {
    margin: 0 auto;
    width: 100%;
    min-height: 600px;
    /*background-color: #110022;*/
    /*background-image: url("/app/assets/img/sky.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;*/
    
    color: #eee;
    overflow: hidden;
}

.v-center {
    margin-top: 150px;
    padding-bottom: 50px;
    position: absolute;
    z-index: 2;
}

.container-main {
    margin-top: 100px;
    margin-bottom: 100px;
}

.featurette-divider {
    margin: 80px 0;
    /* Space out the Bootstrap <hr> more */
}

.featurette-divider-sm {
    margin: 40px 0;
    /* Space out the Bootstrap <hr> more */
}

.featurette-divider-sm-white {
    margin: 40px 0;
    border-top: 1px solid #fff;
    /* Space out the Bootstrap <hr> more */
}

.featurette-divider-xs-white {
    margin: 20px 0;
    border-top: 1px solid #fff;
    /* Space out the Bootstrap <hr> more */
}

.featurette-divider-xs {
    margin: 15px 0;
    /* Space out the Bootstrap <hr> more */
}

.featurette {
    padding-top: 120px;
    /* Vertically center images part 1: add padding above and below text. */
    
    overflow: hidden;
    /* Vertically center images part 2: clear their floats. */
}

.featurette-image {
    margin-top: -120px;
    /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}
/* Give some space on the sides of the floated elements so text doesn't run right into it. */

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-header {
    text-align: center;
}

.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.footer {
    padding: 20px 40px;
    min-height: 150px;
    text-align: center;
    border-top: 5px solid #000;
    color: #000;
    font-size: 85%;
}

.footer a {
    color: #000;
}

.footer .footer-disclaimer {
    color: #808080;
}

.footer img.powered-by {
    width: 25%;
}

.footer .col-md-12 {
    margin-top: 15px;
}

.header-links {
    position: absolute;
    width: 100%;
    margin: 25px auto 0;
    padding: 6px 40px;
    line-height: 1.428571429;
    color: white;
    text-align: right;
    z-index: 2;
}

.header-nav-links {
    float: right;
}

.home:hover,
.header-nav-links a {
    color: #DDCCEE;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.home,
.header-nav-links > li > a:hover,
.header-nav-links > li > a:active {
    background-color: transparent;
    color: #eee;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #eee;
}

.navbar-default .navbar-brand {
    color: #eee;
    display: none;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #dce;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #FFF;
    background-color: #428BCA
}

.navbar-default .navbar-collapse {
    padding: 10px;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-form {
    margin-top: 0px;
}

.featured-project {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size:  2em;
}



.header-nav-links > li > a {
    padding: 5px 15px;
    color: #fff;
}

.header-nav-links > li.active > a:hover,
.header-nav-links > li.active > a:active {
    background-color: #3276b1;
    border-color: #285e8e;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
}

.navbar-header {
    background-color: #110022;
    color: #eee;
}

.navbar-collapse {
    background-color: #110022;
    color: #eee;
}

.home {
    cursor: pointer;
}

.edit {
    position: absolute;
    cursor: pointer;
    right: 0px;
}

.edit span.label {
    padding: 10px 50px;
}

.profile-list,
.profile-list > ul {
    font-size: 16px;
}

.profile-container {
    border: 1px solid #f2f2f2;
    background: #f8f8f8;
    border-radius: 3px;
    margin-bottom: 30px;
    
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
}

span.label {
    cursor: pointer;
}

.badge-danger {
    background-color: #d9534f !important;
}

.panel-heading:hover {
    cursor: pointer;
}

.panel-heading {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.side-tab:hover {
    cursor: pointer;
}

.panel-title {
    font-weight: 400;
}
/*----------------------------------
    Macbook pro mockup from:
    http://jaredhardy.com/minimal-devices/
    
----------------------------------*/

.md-macbook-pro {
    display: block;
    width: 55.3125em;
    height: 31.875em;
    font-size: 13px;
    margin: 0 auto;
    @media (max-width: 1199px) {
        font-size: 11px;
    }
    @media (max-width: 1024px) {
        font-size: 10px;
    }
    @media (max-width: 767px) {
        font-size: 7px;
    }
    @media (max-width: 320px) {
        font-size: 5px;
    }
}

.md-macbook-pro .md-lid {
    width: 45em;
    height: 30.625em;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    border-radius: 1.875em;
    border: solid 0.1875em #cdced1;
    background: #131313;
}

.md-macbook-pro .md-camera {
    width: 0.375em;
    height: 0.375em;
    margin: 0 auto;
    position: relative;
    top: 1.0625em;
    background: #000;
    border-radius: 100%;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.25);
}

.md-macbook-pro .md-camera:after {
    content: "";
    display: block;
    width: 0.125em;
    height: 0.125em;
    position: absolute;
    left: 0.125em;
    top: 0.0625em;
    background: #353542;
    border-radius: 100%;
}

.md-macbook-pro .md-screen {
    width: 42.25em;
    height: 26.375em;
    margin: 0 auto;
    position: relative;
    top: 2.0625em;
    /* background: #1d1d1d;*/
    background: #fff;
    overflow: hidden;
}

.md-macbook-pro .md-screen img {
    width: 100%;
}

.md-macbook-pro .md-base {
    width: 100%;
    height: 0.9375em;
    position: relative;
    top: -0.75em;
    background: #c6c7ca;
}

.md-macbook-pro .md-base:after {
    content: "";
    display: block;
    width: 100%;
    height: 0.5em;
    margin: 0 auto;
    position: relative;
    bottom: -0.1875em;
    background: #b9babe;
    border-radius: 0 0 1.25em 1.25em;
}

.md-macbook-pro .md-base:before {
    content: "";
    display: block;
    width: 7.6875em;
    height: 0.625em;
    margin: 0 auto;
    position: relative;
    background: #a6a8ad;
    border-radius: 0 0 0.625em 0.625em;
}

.md-macbook-pro.md-glare .md-lid:after {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 1.25em 0 0;
    background: linear-gradient(53deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
}
/* IE8 Fixes */

.list-inline {
    display: inline;
    text-align: center;
    /* padding: 10px; */
    border-right: 1px solid #f0f0f0;
    border-right: none;
    float: left;
}


.project {
    padding: 30px;
}
.project:hover {
    color: #4aa3df;
    cursor: pointer;
}

.project.active {
    color: #16a085;
    background-color: #F0F0F0;
}

.project.p-inactive {
    color: grey;
}

.seeker-active,
.owner-active {
    max-height: 500px;
    opacity: 1;    
    transition: all linear 0.5s;
}

.seeker-inactive,
.owner-inactive {
    max-height: 0;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    padding: 0 !important;
    margin: 0;
    transition: all linear 0.5s;
    visibility: hidden;
}

.user-header,
.project-header {
    min-height: 70px;
    overflow: hidden;
}
/*PICKADAY CSS*/

@charset "UTF-8";
/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/

.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}

.pika-single:after {
    clear: both
}

.pika-single {
    *zoom: 1
}

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
}

.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}

.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    /* hide text using text-indent trick, using width value (it's enough) */
    
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    color: #fff !important;
    background: #ff8000 !important;
    box-shadow: none !important;
    border-radius: 3px !important;
}
/* styling for abbr */

.pika-table abbr {
    border-bottom: none;
    cursor: help;
}
/*END OF PICKADAY*/

.project-desc {
    min-height: 100px;
    height: 100px;
    overflow: hidden;
}
/*CATEGORY OVERLAY*/

div.row div.category {
    padding: 20px;
}

div.row div.category .category-overlay {
    max-height: 0;
    height: 0;
    overflow-y: hidden;
}

div.row div.category:hover .category-overlay {
    width: 100%;
    margin: auto;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: inherit;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: left;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-height: 100%;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.cat-overlay-title {
    color: white;
}

.cat-overlay-title:hover {
    color: white;
    text-decoration: underline;
}

.cat-overlay-title:visited {
    color: white;
    text-decoration: none;
}
/*END OF CATEGORY OVERLAY*/

video#bgvid {
    /*position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(/app/assets/img/background.jpg) no-repeat;
    background-size: cover;*/
    min-width: 100%;
    /*min-height: 100%;*/
    width: auto;
    height: auto;
    top: 0px;
    position: absolute;
    padding: 0px;
    margin: 0px;
    z-index: 1;
    background: url("/app/assets/img/sky.png") no-repeat;
    background-size: cover;
}

.container.header {
    position: relative;
    min-height: 550px;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.bold-container {
    background-color: rgba(236, 239, 239, .2);
    width: 100%;
    padding : 40px;
}

.bold-container  .title {
    padding-left: 80px;
}

.thumbnail {
    padding: 20px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(156,153,156,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(156,153,156,1);
    box-shadow: 2px 2px 5px 0px rgba(156,153,156,1);
}

.not-bold-container {
      margin-top: 50px;
  padding-bottom: 80px;
}

.time-avail {
    background-color: white;
    border: 0px;
}

.not-bold-container-user{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    padding: 0 40px;
    width: 100%;
}

.input-group.search-bar {
    width: 300px;
    height: 50px;
}

.form-control.search-bar {
    height: 50px;
}
.glyphicon.glyphicon-search{
    font-size: 1.2em;
}

.glyphicon.glyphicon-home{
    font-size: 3em;
    margin-left: 10px;
    cursor: pointer;
    color: white;
}

.header-logo {
    color: white;
}

.header-logo:hover {
    color: white;
    
}

/* margins */

.mt5  {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}
.mt50 {margin-top:50px;}
.mt60 {margin-top:60px;}
.mt70 {margin-top:70px;}
.mt80 {margin-top:80px;}
.mt90 {margin-top:90px;}
.mt100 {margin-top:100px;}
.mt150 {margin-top:150px;}

.mb5  {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb20 {margin-bottom:20px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}
.mb50 {margin-bottom:50px;}
.mb60 {margin-bottom:60px;}
.mb70 {margin-bottom:70px;}
.mb80 {margin-bottom:80px;}
.mb90 {margin-bottom:90px;}
.mb100 {margin-bottom:100px;}
.mb110 {margin-bottom:110px;}
.mb120 {margin-bottom:120px;}
.mb130 {margin-bottom:130px;}
.mb140 {margin-bottom:140px;}
.mb150 {margin-bottom:150px;}

.ml5 {margin-left:5px;}
.ml7 {margin-left:7px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.ml30 {margin-left:30px;}
.ml40 {margin-left:40px;}
.ml50 {margin-left:50px;}
.ml60 {margin-left:60px;}
.ml70 {margin-left:70px;}
.ml80 {margin-left:80px;}
.ml90 {margin-left:90px;}
.ml100 {margin-left:100px;}

.mr5  {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr20 {margin-right:20px;}
.mr30 {margin-right:30px;}
.mr40 {margin-right:40px;}
.mr50 {margin-right: 50px !important;}
.mr60 {margin-right:60px;}
.mr70 {margin-right:70px;}
.mr80 {margin-right:80px;}
.mR90 {margin-right:90px;}
.mr100 {margin-right:100px;}
.mr150 {margin-right:150px;}

.ml5p {margin-left:5%;}

.no-margin-top {margin-top: 0 !important;}
.no-margin-bottom {margin-bottom: 0 !important;}

.no-padding {padding: 0 !important;}
.no-padding-left {padding-left: 0 !important;}
.no-padding-right {padding-right: 0 !important;}
.no-margin {margin: 0 !important;}

/* padding styles */
.p10 {padding:10px;}
.p15 {padding:15px;}
.p20 {padding:20px;}

.pl15 {padding-left:15px !important;}

.pt5  {padding-top:5px;}
.pt10 {padding-top:10px;}
.pt15 {padding-top:15px;}
.pt20 {padding-top:20px;}


/* line-height */
.lh5 {line-height:5em;}
.lh55 {line-height:5.5em;}


/* how it works */

.panel-circle div {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0;
    padding: 50% 0;
    border-radius: 50%;
  
    /* Just making it pretty */
    @shadow: rgba(0, 0, 0, .1);
    @shadow-length: 4px;
    -webkit-box-shadow: 0 @shadow-length 0 0 @shadow;
            box-shadow: 0 @shadow-length 0 0 @shadow;
    text-shadow: 0 @shadow-length 0 @shadow;
    background: #d2d2d2;
    color: white;
    font-family: Helvetica, Arial Black, sans;
    text-align: center;
    -webkit-transition: all .2s; /* Safari */
    transition: all .2s;
}

.panel-circle.role div.owner {
     float: right;
 }
 
 .panel-circle.role div.seeker {
     float: left;
 }

.panel-circle.main div {
    background-color: #ff0000;
    border: 1px solid #ff0000;
}

.panel-circle.role div:hover {
    -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform: scale(1.05,1.05); /* Safari */
    transform: scale(1.05,1.05);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(210,210,210,1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(210,210,210,1);
    box-shadow: 0px 0px 10px 2px rgba(210,210,210,1);
}

.panel-circle p {
    font-size: 170%;
    margin: -15% 0 0 0;
    padding: 0;
    font-size: 1.38vw;
}

.panel-circle.role p.role-title {
    font-size: 300%;
    font-weight: bold;
    margin-top: -10%;
    font-size: 2.5vw;
}

.panel-circle.main p {
    font-size: 500%;
    margin-top: -20%;
    font-weight: bold;
    font-size: 4.5vw;
}

@media only screen and (min-width: 300px) and (max-width: 499px) {
    
    .panel-circle {
        width: 100%;
    }
    
    .panel-circle div {
        width: 60%;
        padding: 30% 0;
    }
    
    .panel-circle.role div.owner {
        float: none;
    }
    
    .panel-circle.role div.seeker {
        float: none;
    }
    
    .panel-circle.main {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .panel-circle.main div {
        width: 80%;
        padding: 40% 0;
    }
    
    .panel-circle.main p {
        font-size: 400%;
        margin-top: -20%;
    }
     
    .panel-circle.role {
        margin-top: 0;
    }
     
    .panel-circle p {
        font-size: 150%;
        margin-top: -20%;
    }
     
    .panel-circle.role p.role-title {
        font-size: 200%;
        margin-top: 0;
    }
     
    .seeker-active, .owner-active {
        max-height: 1000px;
    }    
     
    .hiw-steps img {
        width: 50vw;
    }
     
    .loading-awesome.message {
         width: 90% !important;
         left: 5% !important;
         top: 25% !important;
         padding: 100px 25px 70px 25px !important;
    }
    
    .loading-awesome.message h2 {
        font-size: 20px !important;
    }
    
    .loading-awesome.message img {
        width: 70vw !important;
    }
    
    .profile .profile-main-info {
        padding: 40px  20px !important;
    }
    
    .row .action-row {
        margin-bottom: 30px!important;
    }
    
    .nav-bar-profile .logo {
        margin-left: 15px !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .nav-bar-profile .navbar-toggle {
        margin: 18px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 959px) {
    
    .panel-circle {
        float: left;
    }
    
    .panel-circle.role {
        cursor: pointer;
        margin-top: 7%;
        width: 30%;
    }
    
    .panel-circle.main {
        width: 38%;
        margin: 0 1%;
    }
    
    .panel-circle.role p {
        font-size: 2.5vw;
    }
    
    .panel-circle.role p.role-title {
        font-size: 4.5vw;
        margin-top: -5%;
    }
     
    .panel-circle.main p {
        font-size: 6vw;
        margin-top: -15%;
    }
     
    .row .action-row {
        margin-bottom: 30px!important;
    }
}

@media only screen and (min-width: 960px) {
     .panel-circle {
         float: left;
     }
     
     .panel-circle p {
         font-size: 2.5vw;
     }
     
     .panel-circle.role p.role-title { 
         font-size: 4vw;
         margin-top: -5%;
     }
     
     .panel-circle.main p {
         font-size: 5vw;
         margin-top: -10%;
     }
     
     .hiw-steps img {
         width: 15vw;
     }
     
     .panel-circle {
        float: left;
    }
    
    .panel-circle.role {
        cursor: pointer;
        margin-top: 7%;
        width: 30%;
    }
    
    .panel-circle.main {
        width: 38%;
        margin: 0 1%;
    }
    
    .panel-circle.role p {
        font-size: 2.5vw;
    }
    
    .panel-circle.role p.role-title {
         font-size: 4.5vw;
         margin-top: -5%;
     }
     
     .panel-circle.main p {
         font-size: 6vw;
         margin-top: -15%;
     }
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
     .panel-circle {
         float: left;
     }
     
     .panel-circle p {
         font-size: 2vw;
     }
     
     .panel-circle.role p.role-title { 
         font-size: 3.5vw;
         margin-top: -5%;
     }
     
     .panel-circle.main p {
         margin-top: -15%;
     }
}

@media only screen and (min-width: 1858px) {
     .panel-circle.role div {
        width: 80%;
        padding: 40% 0;
     }
     
     .panel-circle.main div {
         width: 95%;
        padding: 47.5% 0;
     }
     
     .panel-circle.role p {
         font-size: 2vw;
     }
     
     .panel-circle.role p.role-title {
         font-size: 3vw;
     }
     
     .panel-circle.main p {
         margin-top: -15%;
     }
     
     .hiw-steps img {
        width: 15vw;
    }
}

/* How it Works Steps */
.pane .close {
    position: absolute;
    right: 40px;
    font-size: 30px;
    cursor: pointer;
    margin-top: -15px;
    color: #ffffff;
    opacity: .8;
}

.pane-dark {
    background: #888888;
    color: #ffffff;
    border: 1px solid #888888;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 20px;
}

.left { float:left; }
.right { float:right; }

/* width styles */
.w10 { width:10% !important; }
.w20 { width:20% !important; }
.w30 { width:30% !important; }
.w35 { width:35% !important; }
.w40 { width:40% !important; }
.w50 { width:50% !important; }
.w60 { width:60% !important; }
.w70 { width:70% !important; }
.w80 { width:80% !important; }
.w90 { width:90% !important; }
.w100 { width:100%; }

/* Filter box styles */
.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

/* All users animation styles */
.animated-list-record {
    -webkit-transition: .3s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: .3s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: .3s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: .3s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: .3s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.animated-list-record.ng-enter {
    -webkit-animation: fadeIn .5s;
    -moz-animation: fadeIn .5s;
    -ms-animation: fadeIn .5s;
    animation: fadeIn .5s;
}
  
.animated-list-record.ng-leave {
    -webkit-animation: fadeOut .3s;
    -moz-animation: fadeOut .3s;
    -ms-animation: fadeOut .3s;
    animation: fadeOut .3s;
}

user-badge .thumbnail,
project-badge .thumbnail {
    cursor: pointer;
}

user-badge .thumbnail:hover,
project-badge .thumbnail:hover {
    background-color: #f0f0f0;
}

user-badge .thumbnail {
    max-height: 378px;
}

.thumbnail.project-thumbnail h3,
.thumbnail.project-thumbnail h2 {
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
}

/* page entrance and exit style START */
.animate-fadein-out {
  -webkit-transition: color .1s, background-color .1s;
  -moz-transition: color .1s, background-color .1s;
  -ms-transition: color .1s, background-color .1s;
  transition: color .1s, background-color .1s;
}

.animate-fadein-out.ng-enter {
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.animate-fadein-out.ng-leave {
    -webkit-animation: fadeOut .1s;
    -moz-animation: fadeOut .1s;
    -ms-animation: fadeOut .1s;
    animation: fadeOut .1s;
}

/* page entrance and exit style END */


/* navigation entrance and exit style START */
.animate-fadein-down {
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -ms-transition: all .1s;
  transition: all .1s;
}

.animate-fadein-down.ng-enter {
    -webkit-animation: fadeInLeft .2s;
    -moz-animation: fadeInLeft .2s;
    -ms-animation: fadeInLeft .2s;
    animation: fadeInLeft .2s;
}

.animate-fadein-down.ng-leave {
    -webkit-animation: fadeOutRight .1s;
    -moz-animation: fadeOutRight .1s;
    -ms-animation: fadeOutRight .1s;
    animation: fadeOutRight .1s;
}

/* navigation entrance and exit style END */

/* help sidebar entrance and exit style START */
.animate-fadeinout-left {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

.animate-fadeinout-left.ng-enter {
    -webkit-animation: fadeInLeft .2s;
    -moz-animation: fadeInLeft .2s;
    -ms-animation: fadeInLeft .2s;
    animation: fadeInLeft .2s;
}

.animate-fadeinout-left.ng-leave {
    -webkit-animation: fadeOutLeft .2s;
    -moz-animation: fadeOutLeft .2s;
    -ms-animation: fadeOutLeft .2s;
    animation: fadeOutLeft .2s;
}

/* help sidebar entrance and exit style END */


/* slide up and down entrance and exit style START */
.animate-slide-in-out.ng-hide-remove {
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
}
 
.animate-slide-in-out.ng-hide-add {
    -webkit-animation: fadeOut .5s;
    animation: fadeOut .5s;
    display: block !important;
}

/* slide up and down entrance and exit style END */

/* slide up and down entrance and exit style START */
.animate-fadeInleft-fadeOutRight.ng-hide-remove {
    -webkit-animation: fadeInLeft .3s;
    animation: fadeInLeft .3s;
}
 
.animate-fadeInleft-fadeOutRight.ng-hide-add {
    -webkit-animation: fadeOutRight .1s;
    animation: fadeOutRight .1s;
    display: block !important;
}

/* slide up and down entrance and exit style END */

/* slide up and down entrance and exit style START */
.animate-slideInDown-Up.ng-hide-remove {
    -webkit-animation: slideInDown .1s;
    animation: slideInDown .1s;
}
 
.animate-slideInDown-Up.ng-hide-add {
    -webkit-animation: slideOutUp .1s;
    animation: slideOutUp .1s;
    display: block !important;
}

/* slide up and down entrance and exit style END */

/* alerts entrance and exit style START */
.animate-alert.ng-enter {
    -webkit-animation: fadeInDown .3s;
    animation: fadeInDown .3s;
}
 
.animate-alert.ng-leave {
    -webkit-animation: fadeOutRight .1s;
    animation: fadeOutRight .1s;
}

/* alerts entrance and exit style END */


/* edit profile styles */

.edit-profile {
    min-height: 550px;
}

.edit-profile .interest {
    float:left;
    padding:0;
    font-size:85%;
    text-indent:2px;
    margin-bottom:10px;
    margin-right:10px;
}

.edit-profile .interest > div > span:first-child {
    float:left;
    margin-right:10px;
    line-height: 1.9em;
}

/* edit profile styles end */

/* sticky menu animation styles START */

.animate-slide-up-down.ng-hide-remove {
    -webkit-animation: slideInUp .5s;
    animation: slideInUp .5s;
}
 
.animate-slide-up-down.ng-hide-add {
    -webkit-animation: slideOutDown .5s;
    animation: slideOutDown .5s;
    display: block !important;
}

/* sticky menu animation styles END */

/* helper styles START */
.pointer {
    cursor: pointer;
}

.sticky-menu {
    position: fixed;
    width: 100%;
    padding: 20px;
    z-index: 1000;
    background: #c9c7c7;
    color: #fff;
    text-align: center;
    bottom: 0;
    left: 0;
}

.sticky-menu a {
    cursor: pointer;
    text-decoration: none;
}

.sticky-menu a:hover {
    color: #333;
}

.sticky-menu.bottom {
    bottom: 185px;
}

.row .action-row {
    margin-bottom: 130px;
}

.row .action-row span {
    margin-top: 15px;
}

.disclaimer {
    font-size: 75%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.disclaimer-light {
    color: #808080;
    background-color: #ffffff;
    border: 1px dashed #808080;
}

.disclaimer-dark {
    color: #ffffff;
    background-color: #a0a0a0;
    border: 1px dashed #f2f2f2;
}

.label {
    padding: 5px 10px;
}

.icon-featured {
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
}

.icon-featured.icon-featured-active {
    background-image: url('/app/assets/img/icon_featured.png');
}

.icon-featured.icon-featured-inactive {
    background-image: url('/app/assets/img/icon_featured-grayscale.png');
}

.glyphicon.glyphicon-globe {
    top: -1px;
}

.form-action-buttons {
    /* styles for buttons like delete, submit, save */
    padding: 10px 40px;
}

.form-action-buttons .glyphicon {
    margin-right: 10px;
}

/* helper styles END */

/* small macbook pro mockup end */

.macbook-pro {
    border: 10px solid #000;      
    border-top: 13px solid #000;
    border-radius: 10px;
    width: 85%;
    margin: 0 auto;
}

.macbook-pro-base {
    width: 100%;
    height: 0.5em;
    position: relative;
    top: -0.2em;
    background: #c6c7ca;
}

.macbook-pro-base:after {
    content: "";
    display: block;
    width: 100%;
    height: 0.3em;
    margin: 0 auto;
    position: relative;
    bottom: -0.1875em;
    background: #b9babe;
    border-radius: 0 0 1.25em 1.25em;
}

.macbook-pro-base:before {
    content: "";
    display: block;
    width: 7.6875em;
    height: 0.3em;
    margin: 0 auto;
    position: relative;
    background: #a6a8ad;
    border-radius: 0 0 0.625em 0.625em;
}

/* small macbook pro mockup end */

/* project details */

.user-list-item-sm {
    padding: 5px;
    border-bottom: 1px solid #f5f5f5;
}

.user-list-item-sm:first-child {
    padding-top: 0;
}

.user-list-item-sm .action {
    line-height: 3em;
}

.discussion-board .comment {
    padding: 10px;
    border-radius: 5px;
}

.discussion-board .comments {
    padding: 0;
    max-height: 1200px;
    overflow-y: auto;
}

.discussion-board .comment.odd {
    background-color: #f2f2f2;
}

.discussion-board .comment.even {
    background-color: #ffffff;
}

.discussion-board .comment .date {
    color: #a0a0a0;
    font-size: 10px;
}

.discussion-board .comment .owner {
    background: url('/app/assets/img/owner.png') no-repeat;
    height: 30px;
    width: 30px;
}

.user-badge-name {
    min-height: 55px;
}

.breadcrumb > li > a.active {
    color: #949393 !important;
    text-decoration: none;
    border-bottom: 1px solid #949393;
    padding-bottom: 5px;
}

.breadcrumb > li + li:before {
    content: "\2192" !important;
}

.help .left-nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    margin-top: 20px;
}

.help .left-nav-bar ul li {
    padding: 5px 0;
}

.help .left-nav-bar ul li.back {
    cursor: pointer;
}

.help .left-nav-bar ul li.back:before {
    content: "\2190" !important;
    margin-right: 5px;
    font-size: 20px;
}

.help .left-nav-bar ul li a {
    text-decoration: none;
}

.help .left-nav-bar ul li a.active {
    font-weight: bold;
}

.help .content {
    color: #565a5c;
}

.help .content h2 {
    margin-bottom: 20px;
}

.help .content p,
.help .content li,
.help .help-question h4 {
    line-height: 2em;
    float: left;
    width: 100%;
}

.help .content ul.decimal {
    margin-left: 20px;
    padding: 0;
    list-style-type: decimal;
}

.help .content ul.no-style {
    list-style-type: none;
    float: left;
}

.help .content ul.no-style li i,
.help .content ul.no-style li span {
    float: left;
}

.help .content ul.no-style li i {
    width: 3%;
    margin-top: 5px;
}

.help .content ul.no-style li span {
    width: 95%;
}

.help .content ul .glyphicon {
    color: #ffd700;
}

.help .content .steps {
    border-bottom: 1px solid #c9c7c7;
    border-right: 1px solid #c9c7c7;
    padding: 30px;
    float: left;
    background-color: #e0e0e0;
    border-radius: 2px;
    margin-top: 30px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(156,153,156,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(156,153,156,1);
    box-shadow: 2px 2px 5px 0px rgba(156,153,156,1);
}

.help .content .how-it-works .steps {
    width: 100%;
}

.help .content .help-center .steps {
    height: 360px;
    margin: 5px;
}

@media only screen and (min-width: 960px) {
    .help .content .help-center .steps {
        width: 32%;
    }
}

.help .help-question {
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    float: left;
    width: 100%;
}

.help .help-question h4 {
    color: #428bca;
    cursor: pointer;
}

.help .help-question h4:hover {
    color: #2a6496;
}

.help .help-question h4 span {
    width: 95%;
    float: left;
}

.help .help-question h4 .glyphicon {
    float: left;
    font-size: 150%;
    margin-top: 5px;
    width: 3.5%;
}

.help .help-question .answer {
    margin-left: 4.5%;
    width: 95.5%;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.profile .skill,
.profile .interest, .interest, .skill {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: rgb(129, 128, 128);
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
    float: left;
    padding: 6px 17px !important;
}

.profile .interest,
.profile .skill { 
    padding: 6px 17px !important;
}

/* Profile Styles START */
.profile .profile-header {
    background: url('/app/assets/img/background.jpg') no-repeat;
    margin: 0;
    background-size: 100% 150px;
}

.profile .profile-main-info {
    padding: 40px;
    background-color: rgba(249, 252, 252, 0.5);
}

.btn-span {
    padding: 10px 40px;
}

.profile .tabs div {
    padding: 10px 0 5px 0;
    cursor: pointer;
    border-bottom: 1px solid #a0a0a0;
}

.profile .tabs div h4 {
    display: inline;
}

.profile .tabs div.active {
    border-bottom: 3px solid #a0a0a0;
    color: #333;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.profile .tabs div:hover {
    background-color: #f0f0f0;
}

.profile .tabs div i {
    margin-right: 5px;
    color: #c0c0c0;
}

.profile .tabs div i:hover {
    color: #a8a8a8;
}
/* Profile Styles END */

/* All Projects styles START */

.all-projects-header {
    background: url('/app/assets/img/banners/allprojects.png') no-repeat;
    margin: 0;
    background-size: 100% 150px;
}

/* All Projects styles END */

/* All Projects styles START */

.all-users-header {
    background: url('/app/assets/img/banners/allusers.png') no-repeat;
    margin: 0;
    background-size: 100% 150px;
}

/* All Projects styles END */

/* Project START */
.project-detail .project-detail-header {
    background: url('/app/assets/img/banners/project.png') no-repeat;
    margin: 0;
    background-size: 100% 150px;
}

.project-detail .project-detail-main-info {
    padding: 40px;
    padding-top: 80px;
    background-color: rgba(249, 252, 252, 0.5);
    min-height: 320px;
}

.project-detail .skillset {
    float: left;
    font-size: 16px;
}

.project-detail .skillset ul {
    float: left;
}

.project-detail .skillset ul li {
    float: left;
    margin: 0;
    padding: 0;
}

.project-detail .skillset ul li span {
    background-color: #5cb85c;
    color: #fff;
}
/* Project END */


/* Loading Awesome overlay message START */

.loading-awesome.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(232, 232, 232, .9);
    height: 100%;
    width: 100%;
    z-index: 2000;
}

.loading-awesome.message {
    width: 50%;
    vertical-align: middle;
    border: 1px solid #f0f0f0;
    padding: 150px 50px 120px 50px;
    z-index: 2001;
    position: fixed;
    top: 22%;
    left: 25%;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    color: rgb(252, 88, 88);
    max-height:420px;
}

.loading-awesome.message img {
    width: 40vw;
}

.loading-awesome .loading-image {
    background: url('/app/assets/img/Opportunities@HSBC_accelerateyourcareer.png') no-repeat;
    background-size: 100% 100%;
    /* width: 100%; */
    height: 130px;
    margin-bottom: 50px;
}
/* Loading Awesome overlay message END */


/* error message for IE START */
.ie-loading-awesome.message {
    width: 50%;
    vertical-align: middle;
    border: 1px solid #f0f0f0;
    padding: 150px 40px 120px 40px;
    z-index: 2001;
    position: fixed;
    top: 22%;
    left: 25%;
    text-align: center;
    background: #f0f0f0;
    border-radius: 10px;
    color: rgb(252, 88, 88);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(156,153,156,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(156,153,156,1);
    box-shadow: 2px 2px 5px 0px rgba(156,153,156,1);
    filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=5, OffY=5, Color=#c9c7c7);
}
/* error message for IE END*/


/* Help Header Styles START */

.help .help-header {
    background: url('/app/assets/img/banners/help.png') no-repeat;
    margin: 0;
    background-size: 100% 150px;
    margin-bottom: 20px;
}

.help .help-header .breadcrumb {
    margin: 0px 15px 0 15px;
    padding: 10px 10px 15px 10px;
    opacity: .9;
    background-color: #f8f8f8;
    border-radius: 0;
    font-size: 15px;
}

/* Help Header Styles END */

.nav-bar-profile .logo {
    margin-left: 60px;
}

/* Feedback form  START */

.help .feedback .info-formal {
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    background-color: #F7F4FA;
    color: #808080;
    font-size: 12px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
}

/* Feedback form END */

/* NOTIFICATIONS START */

.notifications {
    position: absolute;
    right: 95px;
    top: 50px;
    background: #fff;
    color: #706F6F;
    padding: 2px;
    font-size: 12px;
    width: 400px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    border-top-right-radius: 0;
    z-index: 2000;
}

.notifications .notifications-container {
    max-height:400px;
    overflow-y:auto;
    overflow-x:hidden;
}

.notifications .notification {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
}

.notifications .notifications-container .notification:last-child,
.notifications .notification.no-border {
    border: none;
}

.notifications .notification:hover {
    background-color: #d4e5f8 !important;
}

.notifications .notification.odd {
    background-color: #f2f2f2;
}

.notifications .notification-header {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #d3d1d1;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 2px;
    color: #70A8F0;
}

.notifications .notification .message {
    width: 91%;
    padding-right: 0;
}

/* NOTIFICATIONS END*/

.skills-legend {
    width: 250px;
    position: absolute;
    right: 10px;
    z-index: 2000;
    padding: 15px;
    background-color: #302F4B;
    border: 1px solid #f0f0f0;
    color: #fff;
}

.skills-legend .legend-header {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.skills-legend .legend-header .close {
    opacity: 1;
    color: #fff;
}

.skills-legend .legend {
    margin: 10px 0 0 0;
}

.skills-legend .legend span {
    margin-top: 5px;
}

.skills-legend .circle {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    float: left;
}

.skills-legend .circle.red {
    background-color: red;
}

.skills-legend .circle.orange {
    background-color: orange;
}

.skills-legend .circle.yellow {
    background-color: yellow;
}

.skills-legend .circle.green {
    background-color: green;
}

.skills-legend .circle.blue {
    background-color: blue;
}

.skills-legend .circle.purple {
    background-color: purple;
}

/* listing headers START */

.listing-header {
    background: #fff;
    margin: 15px;
    margin-top: -35px;
    margin-bottom: 20px;
    float:left;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    opacity: .9;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(156,153,156,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(156,153,156,1);
    box-shadow: 2px 2px 5px 0px rgba(156,153,156,1);
}

.listing-header h1 {
    color: #9B9999;
    padding-left: 0;
}

.listing-header div.pull-right {
    padding-right: 0;
}

/* listing headers END */

.project-people-list {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}


/* popup alert styles START */

.popup-alert-message {
    padding:15px;
    border:1px solid #f0f0f0;
    margin: 0;
    border-radius: 8px;
    border-top-left-radius: 0;
}

/* popup alert styles END */

/* comment bubble styles START*/
.bubble {
    position: relative;
    display:inline-block;
    min-height:1.5em;
    padding: 10px;
    background: #FFFFFF;
    border: #f0f0f0 solid 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
}

.bubble:after {
    content: "";
    position: absolute;
    top: 10px;
    left: -9px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
}

.bubble:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -10px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f0f0f0;
    display: block;
    width: 0;
    z-index: 0;
}

/* comment bubble styles START*/

/* contact us messages and feedback messages styles START */

.messages .message {
    margin-bottom: 10px;
}

.messages .message .bubble {
    padding: 10px;
}

.messages .message .bubble .smaller, .smaller {
    font-size: 10px;
}

.messages .message .user {
    width: 40px;
    margin-right: 20px;
    margin-top: 10px;
}
/* contact us messages and feedback messages styles END */