<div class="container container-main" style="min-height: 75%;margin-top:30px">
	<div class="page-header" style="margin-top: 0;">
		<!-- Use green for Available, red for In Progress, grey for Completed -->
		<h1 style="margin-top: 0;">{{project.title}}    <small style="color: green">{{project.status}}</small>  <button ng-show="isAdmin" class="btn btn-danger" ng-click="delete()">Delete</button> <i ng-show="isAdmin" class="glyphicon {{(project.featured) ? 'glyphicon-ok-circle text-success' : 'glyphicon-remove-circle'}}" ng-click="feature()"></i> <button ng-show="hasBeenInvited" class="btn btn-success" ng-click="acceptInvitation(auth.profile)">Accept this project</button> </h1>
		
		<h2><small style="color: blue"> By <a href="/user/#/{{project.user.user_id}}">{{project.user.name}}</a></small>
		<small>
		<i ng-repeat="star in projectFullStars" class="glyphicon glyphicon-star" style="color: #f39c12"></i><i ng-repeat="star1 in projectEmptyStars" class="glyphicon glyphicon-star-empty" style="color: #f39c12"></i>
		({{projectPeoplesRating}} people rated)
		</small>
		</h2>
		<div ng-show="logginUserSelectedForProject">
			
			{{ (isRated == true) ? 'You have rated this project\'s owner' : 'Rate this project\'s owner:'}} <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
			<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-4">
			<!-- begin panel group -->
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				
				<!-- panel 1 -->
				<div class="panel panel-default">
					<!--wrap panel heading in span to trigger image change as well as collapse -->
					<span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
						<div class="panel-heading" role="tab" id="headingOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<h4 class="panel-title">Project Summary <a class="pull-right" ng-show="isOwner" href="#/edit/{{project._id}}">Edit</a></h4>
						</div>
					</span>
					
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							{{project.description}}
						</div>
					</div>
				</div>
				<!-- / panel 1 -->
				
				<!-- panel 2 -->
				<div class="panel panel-default">
					<!--wrap panel heading in span to trigger image change as well as collapse -->
					<span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
						<div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							<h4 class="panel-title collapsed">Project Skillset</h4>
						</div>
					</span>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<!-- Tab content goes here -->
							<div class="profile-list">
								<ul class="list-inline">
									<li ng-repeat="skill in project.skillset" ><span class="label label-success">{{skill}}</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- / panel 2 -->
				
				<!--  panel 3 -->
				<div class="panel panel-default">
					<!--wrap panel heading in span to trigger image change as well as collapse -->
					<span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
						<div class="panel-heading" role="tab" id="headingThree"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							<h4 class="panel-title">Project Details</h4>
						</div>
					</span>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							<!-- tab content goes here -->
							<div class="row">
								<div class="col-md-6"><strong>Project Type</strong></div>
								<div class="col-md-6">{{project.category}}</div>
							</div>
							<div class="row">
								<div class="col-md-6"><strong>Project Financials</strong></div>
								<div class="col-md-6">{{ (project.chargeable ) ? 'Chargeable' :  'Non-Chargeable' }} </div>
							</div>
							<div class="row">
								<div class="col-md-6"><strong>Project Skill Category</strong></div>
								<div class="col-md-6">{{project.skillCategory}} </div>
							</div>
							<div class="row">
								<div class="col-md-6"><strong>Effort Required</strong></div>
								<div class="col-md-6">{{ project.effortRequired }}</div>
							</div>
							<div class="row">
								<div class="col-md-6"><strong>Time Availability</strong></div>
								<div class="col-md-6">{{ project.timeAvailability }}</div>
							</div>
							<div class="row">
								<div class="col-md-6"><strong>Due Date</strong></div>
								<div class="col-md-6">{{ project.endDate | date:'yyyy/MM/dd'}}</div>
							</div>
							<div class="row">
								<div class="col-md-6"><strong>Visibility</strong></div>
								<div class="col-md-6">{{ project.visibility | uppercase}}</div>
							</div>
							
						</div>
					</div>
				</div>
				<!-- MATCHED PEOLE -->
				<div class="panel panel-default" ng-show="isOwner">
					<!--wrap panel heading in span to trigger image change as well as collapse -->
					<span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
						<div class="panel-heading" role="tab" id="headingThree"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#matchedPeople" aria-expanded="false" aria-controls="matchedPeople">
							<h4 class="panel-title">Matched People</h4>
						</div>
					</span>
					<div id="matchedPeople" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							<!-- tab content goes here -->
							<div class="row" ng-repeat="user in matchedUsers">
								<div class="col-md-6"><a href="/user/#/{{user.user_id}}"><strong>{{user.name}}</strong></a></div>
								<div ng-click="invite(user)" ng-show="isOwner" class="col-md-6">	<button class="btn btn-success">{{ (user.invited == true) ? 'Resend' : 'Invite' }}</button></div>
							</div>
							
						</div>
					</div>
				</div>
				<!-- END OF MATCHED PEOPLE ACCORDION -->
				<!-- APPLIED PEOLE -->
				<div class="panel panel-default" ng-show="isOwner">
					<!--wrap panel heading in span to trigger image change as well as collapse -->
					<span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
						<div class="panel-heading" role="tab" id="headingThree"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#appliedPeople" aria-expanded="false" aria-controls="appliedPeople">
							<h4 class="panel-title">Applied People</h4>
						</div>
					</span>
					<div id="appliedPeople" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							<!-- tab content goes here -->
							<div class="row" ng-repeat="user in project.appliedUsers">
								<div class="col-md-6"><a href="/user/#/{{user.user_id}}"><strong>{{user.name}}</strong></a></div>
								<div ng-show="isOwner" class="col-md-6" ng-click="accept(user)">	<button class="btn btn-success">Accept</button></div>
							</div>
							
						</div>
					</div>
				</div>
				<!-- END OF APPLIED PEOPLE ACCORDION -->
				<!-- SELECTED PEOLE -->
				<div class="panel panel-default" ng-show="isOwner || logginUserSelectedForProject">
					<!--wrap panel heading in span to trigger image change as well as collapse -->
					<span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
						<div class="panel-heading" role="tab" id="headingThree"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#selectedPeople" aria-expanded="false" aria-controls="selectedPeople">
							<h4 class="panel-title">Selected People</h4>
						</div>
					</span>
					<div id="selectedPeople" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							<!-- tab content goes here -->
							<div class="row" ng-repeat="user in project.selectedUsers">
								<div class="col-md-6"><a href="/user/#/{{user.user_id}}"><strong>{{user.name}}</strong></a></div>
								<div class="col-md-6" ng-show="isOwner">
									<rating ng-model="user.rate" max="max" readonly="user.isReadonly" on-hover="hoveringRatingUser(value,$index)" on-leave="overStar = null"></rating>
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- END OF SELECTED PEOPLE ACCORDION -->
				<!--  panel 4 -->
				<div class="panel panel-default" ng-show="auth.isAuthenticated">
					<!--wrap panel heading in span to trigger image change as well as collapse -->
					<span class="side-tab" data-target="#tab4" data-toggle="tab" role="tab" aria-expanded="false">
						<div class="panel-heading" role="tab" id="headingFour"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" ng-click="showQuestions()">
							<h4 class="panel-title">Project Contact</h4>
						</div>
					</span>
					<div  id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
						<div class="panel-body">
							<!-- tab content goes here -->
							<div ng-show="(!isOwner) && (hasApplied==false)" href="#" class="btn btn-lg btn-danger" ng-click="apply()"><span class="glyphicon glyphicon-save"></span> Apply</div>
							<div   class="btn btn-lg btn-info" ng-click="ask();"><span class="glyphicon glyphicon-info-sign" ></span> {{ (isOwner) ? 'Answer' : 'Ask' }}</div>
							
							<form class="form-horizontal" ng-submit="submitQuestion()" ng-show="showAsk">
								</br>
								<textarea class="form-control" id="project-skillset" placeholder="Enter your question" ng-model="question" name="project-skillset"></textarea >
								</br>
								<button id="project-submit" name="project-submit" class="btn btn-danger" >Submit</button>
							</form>
						</div>
					</div>
				</div>
				</div> <!-- / panel-group -->
				
				</div> <!-- /col-md-4 -->
				
				<div class="col-md-8">
					<!-- begin macbook pro mockup -->
					<div class="md-macbook-pro md-glare">
						<div class="md-lid">
							<div class="md-camera"></div>
							<div class="md-screen">
								<!-- content goes here -->
								<div class="tab-featured-image">
									<div class="tab-content">
										<div class="tab-pane fade in active" id="tab1">
											<img src="/app/assets/img/details/{{project.category}}.jpg" class="img img-responsive">
										</div>
										<div class="tab-pane fade" id="tab2">
											<img src="/app/assets/img/details/{{project.category}}.jpg" class="img img-responsive">
										</div>
										<div class="tab-pane fade" id="tab3">
											<img src="/app/assets/img/details/{{project.category}}.jpg" class="img img-responsive">
										</div>
										<div class="tab-pane fade" id="tab4">
											<img src="/app/assets/img/details/{{project.category}}.jpg" class="img img-responsive">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="md-base"></div>
						</div> <!-- end macbook pro mockup -->
						<div class="media" ng-show="showQuestion" ng-repeat="question in questions">
							<div class="pull-left">
								<a href="#">
									<img class="img-circle" width="60px" src="{{ (question.user.picture) ? question.user.picture : 'http://placehold.it/60x60' }}">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading">{{question.user.name}}</h4>
								{{question.content}}
							</div>
						</div>
						</div> <!-- / .col-md-8 -->
						</div> <!--/ .row -->
						</div><!-- /.container -->