<div class="page-header" style="margin-top: 0;">
        <h1 style="margin-top: 0;"><a href="" ng-click="showNewUser()">Create a new user</a> or <a href="" ng-click="showLogin()">Login</a></h1>
    </div>

<form class="form-horizontal" ng-submit="save()" ng-show="newUser">
    <!-- Form Name -->
    
    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="project-title">Username</label>
        <div class="col-md-4">
            <input type="text" placeholder="Your Username" class="form-control input-md" ng-required="true" ng-model="user.name">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="project-title">Email</label>
        <div class="col-md-4">
            <input type="text" placeholder="Your Email" class="form-control input-md" ng-required="true" ng-model="user.email">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="project-title">Job Role</label>
        <div class="col-md-4">
            <input type="text" placeholder="Your Job Role" class="form-control input-md" ng-required="true" ng-model="user.job_role">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="project-title">Department</label>
        <div class="col-md-4">
            <input type="text" placeholder="Your Department" class="form-control input-md" ng-required="true" ng-model="user.dept">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="project-title">Picture</label>
        <div class="col-md-4">
            <input type="text" placeholder="Your Photo's URL" value="http://api.adorable.io/avatars/200/{{user.name}}"  class="form-control input-md"  >
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-4 control-label" for="project-title">Phone</label>
        <div class="col-md-4">
            <input type="text" placeholder="Your Phone" class="form-control input-md"  ng-model="user.phone">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="project-title">Country</label>
        <div class="col-md-4">
            <input type="text" placeholder="Your Country" class="form-control input-md"  ng-model="user.country">
        </div>
    </div>
   
   
    <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="project-submit"></label>
        <div class="col-md-4">
            <button id="project-submit" name="project-submit" class="btn btn-danger">Create</button>
        </div>
    </div>
</form>

<form class="form-horizontal" ng-submit="save()" ng-show="isLogin">
    
    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="project-title">Email </label>
        <div class="col-md-4">
            <input type="text" placeholder="Your email" class="form-control input-md" ng-required="true" ng-model="email">
        </div>
    </div>
   
    <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="project-submit"></label>
        <div class="col-md-4">
            <button id="project-submit" name="project-submit" class="btn btn-danger">Login</button>
        </div>
    </div>
</form>


