<div class="project-detail">
    <div class="container">
        <div class="row project-detail-header">
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 text-center project-detail-main-info">
                
                <div class="macbook-pro">
					<img class="img img-responsive" ng-src="/app/assets/img/categories/full/{{project.category.id}}.png"/>
				</div>
                <div class="macbook-pro-base"></div>
                
                <div class="project-preview">
                    <h3>{{project.title}}</h3>
                    <div class="featured-project">
                        <i class="{{(project.visibility == 'Global') ? 'glyphicon glyphicon-globe text-success' : 'ng-hide' }} "></i>
                    </div>
                    <p class="project-desc" title="{{project.description}}">{{project.description | characters : 100}}</p>
                    
                    <p ng-show="isAdmin" class="text-success">{{project.country}}</p>
                    <p ng-show="isAdmin" class="text-danger">{{project.visibility | uppercase}}</p>
                    
                    <p>By <a>{{auth.profile.name}}</a></p>
                    <p><a class="btn btn-default" disabled="disabled">View details »</a></p>
                </div>
            </div>
            <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 left">
                <div class="row action-row">
                    <div class="text-right col-md-12 col-lg-12">
                        <span class="label label-danger left btn-span pull-right" id="editProfile" ng-click="cancel()">
                            <i class="glyphicon glyphicon-ban-circle"></i> Cancel
                        </span>
                    </div>
                </div>
                
                <form class="form-horizontal col-md-9 col-lg-9" ng-submit="save()" ng-show="auth.isAuthenticated">

                    <!-- Form Name -->
                    <div>
                        <h2>{{ (isNewProject) ? "Create a new Project" : "Edit The Project" }}</h2>
                    </div>
                    
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="project-title">Project Title</label>
                        <div class="col-md-8">
                            <input id="project-title" name="project-title" type="text" placeholder="Your Project Title" class="form-control input-md" ng-required="true" ng-model="project.title">
                        </div>
                    </div>
                    <!-- Multiple Radios -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="project-category">Project Category</label>
                        <div class="col-md-8">
                            <ui-select ng-model="project.category" theme="selectize">
                                <ui-select-match placeholder="Select the project category...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="category in defaultCategories | filter: $select.search">
                                    {{ category.name }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <!-- Multiple Radios -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="project-chargeable">Project Financials</label>
                        <div class="col-md-8">
                            
                            <div class="btn-group">
                                <label class="btn btn-default" ng-model="project.chargeable" btn-radio="true">Chargeable</label>
                                <label class="btn btn-default" ng-model="project.chargeable" btn-radio="false">Non-Chargeable</label>
                            </div>
                        </div>
                    </div>
                    <!-- Multiple Radios -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="project-visibility">Project Visibility</label>
                        <div class="col-md-8">
                            
                            <div class="btn-group">
                                <label class="btn btn-default" ng-model="project.visibility" btn-radio="'Global'">Global</label>
                                <label class="btn btn-default" ng-model="project.visibility" btn-radio="'Local'">Local</label>
                            </div>
                        </div>
                    </div>
                    <!-- Location -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="project-visibility">Location</label>
                        <div class="col-md-8">
                            <input id="location" name="location" type="text" class="form-control input-md" ng-required="true" ng-model="project.country" />
                        </div>
                    </div>
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="project-summary">Project Summary</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="project-summary" name="project-summary" placeholder="Summary and benefits" ng-model="project.description" ng-required="true"></textarea>
                        </div>
                    </div>
                    <!-- Project Category -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="project-skillset">Project Skill Category</label>
                        <div class="col-md-8">
                            <ui-select ng-model="project.skillCategory" theme="selectize">
                                <ui-select-match placeholder="Select the project category...">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="category in defaultSkillCategories | filter: $select.search">
                                    {{ category }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <!-- PROJECT SKILLSET -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="project-skillset">Project Skillset</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="project-skillset" placeholder="Enter your skillset, separated by commas" name="project-skillset" ng-model="project.skillset" ng-value="" ng-required="true"></textarea>
                        </div>
                    </div>
                    <!-- EFFORT REQUIRED -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="project-timeline">Effort Required</label>
                        <div class="col-md-8">
                            <input type="text" ng-required="true" class="form-control input-md left w60" ng-model="effortNum"/>
                            
                            <ui-select ng-model="project.effortRequired" theme="selectize" class="left w35 ml5p">
                                <ui-select-match placeholder="">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="effort in defaultEffortRequired | filter: $select.search">
                                    {{ effort }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <!-- TIME AVAILABILITY -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="project-timeline">Time Availability</label>
                        <div class="col-md-8">
                            
                            <div class="input-group w60 left">
                                <input type="text" ng-required="true" class="form-control" ng-model="hoursAvail" placeholder="" aria-describedby="basic-addon2" >
                                <span class="input-group-addon" id="basic-addon2">hours</span>
                                <span class="input-group-addon time-avail">Per</span>
                            </div>
                            <ui-select ng-model="project.timeAvailability" theme="selectize" class="left w35 ml5p">
                                <ui-select-match placeholder="">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="effort in defaultTimeAvailability | filter: $select.search">
                                    {{ effort }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <!-- PROJECT POSTED END DATE FIELD -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="project-timeline">Project Posted End Date</label>
                        <div class="col-md-8">
                            <p class="input-group">
                                <input pikaday="postedEndDateCalendar" type="text" name="project-posted-end-date" id="project-posted-end-date-1" format="{{ DATE_FORMAT }}" placeholder="DD-MM-YYYY" ng-model="project.postedEndDate" ng-required="true" class="form-control input-md"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event, 0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <!-- START DATE FIELD -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="project-timeline">Start date</label>
                        <div class="col-md-8">
                            <p class="input-group">
                                <input pikaday="startDateCalendar" type="text" name="project-start-date" id="project-start-date-1" format="{{ DATE_FORMAT }}" placeholder="DD-MM-YYYY" ng-model="project.startDate" ng-required="true" class="form-control input-md"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event, 1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <!-- END DATE FIELD -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="project-timeline">End date</label>
                        <div class="col-md-8">
                            <p class="input-group">
                                <input pikaday="endDateCalendar" type="text" name="project-end-date" id="project-end-date-1" format="{{ DATE_FORMAT }}" placeholder="DD-MM-YYYY" ng-model="project.endDate" ng-required="true" class="form-control input-md"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event, 2)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <!-- STATUS FIELD -->
                    <div class="form-group" ng-show="!isNewProject">
                        <label class="col-md-4 control-label" for="project-timeline">Status</label>
                        <div class="col-md-8">
                            <ui-select ng-model="project.status" theme="selectize">
                                <ui-select-match placeholder="Select the project category...">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="status in defaultStatuses | filter: $select.search">
                                    {{ status }}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    
                    <hr class="featurette-divider-xs col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="project-submit"></label>
                        <div class="col-md-8">
                            <button id="project-submit" name="project-submit" class="btn btn-primary">{{ (isNewProject) ? "Submit" : "Update" }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>